In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import copy

In [4]:
data = pd.read_csv("monthly_sales.csv")
data.head()

,"Month, Year",HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C
0,Jan-16,1140955,494802,285238,1124565,468568,281141,1111618,482079,277904,1095034,456264,273758,1126476,450958,281619
1,Feb-16,1175529,489804,293882,1200559,480616,288369,1188037,475603,297009,1167009,486254,280311,1109076,462115,288586
2,Mar-16,1235995,494802,296881,1220454,508522,293148,1151657,499443,287914,1133899,472458,295045,1167894,486622,280523
3,Apr-16,1186592,514593,296648,1213616,485843,291505,1149180,498369,299021,1133767,491684,283441,1116560,465233,290533
4,May-16,1272450,530187,305637,1249686,520702,312421,1187579,494824,296894,1215080,506283,291857,1155612,481505,300695

In [69]:
temp = copy.deepcopy(data).set_index(data.columns[0])

In [37]:
totals_m_df = pd.DataFrame()
totals_m_df['HM'] = temp['HM-NE'] + temp['HM-SW'] + temp['HM-SE'] + temp['HM-NW'] + temp['HM-C']
totals_m_df['CF'] = temp['CF-NE'] + temp['CF-SW'] + temp['CF-SE'] + temp['CF-NW'] + temp['CF-C']
totals_m_df['FF'] = temp['FF-NE'] + temp['FF-SW'] + temp['FF-SE'] + temp['FF-NW'] + temp['FF-C']
totals_m_df.to_csv('totals_m_df.csv')

In [26]:
ne_m_df = temp.iloc[:,0:3]
sw_m_df = temp.iloc[:, 3:6]
nw_m_df = temp.iloc[:,6:9]
se_m_df = temp.iloc[:, 9:12]
c_m_df = temp.iloc[:, 12:15]

ne_m_df.to_csv('ne_m_df.csv')
sw_m_df.to_csv('sw_m_df.csv')
nw_m_df.to_csv('nw_m_df.csv')
se_m_df.to_csv('se_m_df.csv')
c_m_df.to_csv('c_m_df.csv')

In [62]:
regional_compare = pd.Series()
regions = {'NE': ne_m_df, 'NW':nw_m_df, 'SW':sw_m_df, 'SE':se_m_df, 'C':c_m_df}
for key in regions.keys():
    regional_compare[key] = regions[key].loc['Sep-18'].sum()
    
region_comp_df = pd.DataFrame(regional_compare)
region_comp_df.to_csv('region_comp_df.csv')

In [66]:
delta = pd.Series()

for key in regions.keys():
    delta[key] = regional_compare[key] - regions[key].loc['Oct-18'].sum()

delta_df = pd.DataFrame(delta)
delta_df.to_csv('delta_df.csv')

In [78]:
daily = pd.read_csv('daily_sales.csv')
daily.set_index('Day', inplace = True)
daily.to_csv('day_index_d.csv')

In [79]:
daily

,Unnamed: 0,HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C
Day,,,,,,,,,,,,,,,,
1/1/2016,Friday,37240,16077,8446,39249,16565,10204,37271,16819,9924,35967,13955,11734,35689,13499,11232
1/2/2016,Saturday,36258,14726,7950,38106,14003,7316,35021,14705,9028,36398,15089,8005,37178,14256,9152
1/3/2016,Sunday,37007,15103,8397,35494,15987,8683,35369,16591,8105,34864,13919,7011,35855,15557,8406
1/4/2016,Monday,37590,16413,9537,33666,15114,8429,37993,14535,8034,36601,14528,8201,36168,15699,7940
1/5/2016,Tuesday,38036,16199,10123,33528,13721,10085,37854,14590,9879,36661,15132,8874,36837,15420,8607
1/6/2016,Wednesday,38187,16386,8410,33608,14322,9652,36343,16302,9360,34374,14696,9674,37790,13810,10228
1/7/2016,Thursday,38095,16045,11791,33007,15068,8985,35901,15408,8834,35895,14981,8370,36061,13436,8993
1/8/2016,Friday,34685,15058,8179,38964,13608,10985,36279,14465,10639,35441,13411,11630,34898,15544,12463
1/9/2016,Saturday,35059,14585,7193,33637,14035,7616,38059,13804,8589,36194,15525,6890,37192,13619,6799
1/10/2016,Sunday,36906,16905,10580,39361,14788,7105,35332,15809,7702,33847,15282,7520,35334,14447,7583
1/11/2016,Monday,36893,16771,10091,35750,16565,9506,37802,15222,8566,34769,15528,9312,37905,14909,9037
1/12/2016,Tuesday,37243,15642,9247,35040,16132,8424,36105,16518,8555,35134,14510,7735,35045,14419,8418
1/13/2016,Wednesday,37476,15343,10250,35242,14846,9316,38015,16162,9872,37190,15693,8416,34532,15537,9279
1/14/2016,Thursday,37977,16256,12264,36682,14869,8832,36866,15822,8617,34698,13358,8826,36526,14421,7804
1/15/2016,Friday,36130,16352,7127,38272,15946,10360,35068,16561,10503,35856,15537,11533,37012,13057,11764
1/16/2016,Saturday,35147,15408,7174,36955,15204,8140,34234,15179,8543,36609,15241,8346,36274,15202,9431
1/17/2016,Sunday,38330,16272,9313,36046,16032,7152,35821,14858,7177,33645,15273,7647,36386,15493,7112
1/18/2016,Monday,35629,15691,8441,37242,16313,9602,36945,14479,9107,34210,13589,8793,36938,14565,9250
1/19/2016,Tuesday,38094,15224,9101,35703,16032,8425,33663,13625,8765,34634,15295,8436,36811,13162,7773
1/20/2016,Wednesday,34610,17072,8739,38221,14952,9944,35313,14239,9474,34044,13408,8426,35951,15017,8276
1/21/2016,Thursday,35293,16677,11108,38971,14999,9787,34489,16771,9876,34814,15293,8637,37177,13464,9376
1/22/2016,Friday,35862,16553,6865,37796,16330,11615,37919,14578,10598,34969,15744,11709,37222,15335,12847
1/23/2016,Saturday,38019,14905,7271,35544,14326,9015,33703,15514,8058,36681,13458,8189,35494,15609,8713
1/24/2016,Sunday,38460,15743,9887,36372,15520,7722,33234,14814,7680,35579,14646,7167,36777,13787,6881
1/25/2016,Monday,37295,16769,9068,33006,16468,9428,36311,17134,8892,35061,13521,8545,37700,14362,9227
1/26/2016,Tuesday,35164,17046,9835,38405,13150,8632,37012,17253,7952,32933,15373,8565,37465,13658,9194
1/27/2016,Wednesday,36414,16974,10656,38709,16688,9102,35904,15021,8609,37051,15461,8954,36245,13868,8185
1/28/2016,Thursday,35179,16900,12027,35194,12996,9959,34396,17001,9768,35124,14684,9376,35524,15171,10200
1/29/2016,Friday,38474,14468,7554,34861,16469,10941,34071,14691,10364,35301,14829,12241,35109,14045,12377
1/30/2016,Saturday,37323,15347,7413,35504,13307,7877,35644,16680,8465,34985,14366,7727,36614,15210,7632
1/31/2016,Sunday,36880,15892,11201,36430,14213,8302,33681,16929,8369,35505,14939,7269,34767,15380,7440

In [76]:
totals_d_df = pd.DataFrame()
totals_d_df['Day'] = daily['Day']
totals_d_df['HM'] = daily['HM-NE'] + daily['HM-SW'] + daily['HM-SE'] + daily['HM-NW'] + daily['HM-C']
totals_d_df['CF'] = daily['CF-NE'] + daily['CF-SW'] + daily['CF-SE'] + daily['CF-NW'] + daily['CF-C']
totals_d_df['FF'] = daily['FF-NE'] + daily['FF-SW'] + daily['FF-SE'] + daily['FF-NW'] + daily['FF-C']

totals_d_df.set_index('Day', inplace = True)
totals_d_df

totals_d_df.to_csv('totals_m_df.csv')

In [83]:
daily_d = pd.read_csv('daily_sales.csv')

fish_filet_d = pd.DataFrame()
fish_filet_d['Day'] = daily_d['Day']
fish_filet_d['Weekday'] = daily_d['Unnamed: 0']
fish_filet_d['FF'] = daily_d['FF-NE'] + daily_d['FF-SW'] + daily_d['FF-SE'] + daily_d['FF-NW'] + daily_d['FF-C']

fish_filet_d.to_csv("fish_filet_d.csv")

In [86]:
grouped_ff = fish_filet_d.groupby('Weekday').sum()
grouped_ff.to_csv('ff_sales_weekday.csv')